@model List<Product>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-danger">Ürün Listesi</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Ürün Ekle
            </a>
        </div>
    </div>
    <br />


    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Başlık
                </th>
                <th>
                     ISBN
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Yazar
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="20%">
                        @obj.Title
                    </td>
                    <td width="20%">
                        @obj.ISBN
                    </td>
                    <td width="20%">
                        @obj.Price
                    </td>
                    <td width="60%">
                        @obj.Author
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-secondary"><i class="bi bi-pen"></i>Güncelle</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Sil</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
